
/* utilities */
*{
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 0 30px;
}
.container{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    margin: 20px auto;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
/* Header Styling */
header{
    background-color: #562EFF;
    padding: 20px 0;
}
.header-container{
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.branding{
    display: flex;
    gap: 5px;
    align-items: center;
}
.branding img{
    width: 40px;
}
.branding h1{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}
.menu ul{
    color: #FFFFFF;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
}

/* Top player styling */
.top-players{
    padding: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    gap: 16px;
}
.player img{
    width: 56px;
}
.player h3{
    font-size: 18px;
    font-weight: 500;
}

/* Top blogs Styling */
.top-blogs{
    padding: 30px 30px 40px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 70px;
    grid-row-gap: 25px;
}
.blog{
    display: flex;
    align-items: center;
    gap: 20px;
}
.blog img{
    width: 177px;
}
.blog-info h3{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.blog-info .author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-info h5{
    display: inline;
    color: #562EFF;
    font-weight: 400;
}

/* Latest course section styling */
.latest-course .section-title{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}
.courses{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course{
    width: 224px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px lightgray;
}
.course-banner img{
    width: 224px;
}
.course-detail h3{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
    padding-right: 30px;
}
.course-detail p{
    font-size: 14px;
    font-weight: normal;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.rating p{
    font-size: 14px;
    color: #A2A2A2;
}
.time{
    background-color: #FFE4E8;
    padding: 5px 10px;
    border-radius: 15px;
}
.time p{
    color: #FF4A60;
    font-size: 13px;
    font-weight: 600;
}

/* Media Query */
@media screen and (max-width:576px) {
    .container{
        width: 100%;
        margin: 10px auto;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        flex-direction: column;
    }
    .header-container{
        width: 100%;
        flex-direction: column;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .container{
        width: 100%;
        margin: 10px auto;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .courses{
        flex-wrap: wrap;
    }
    header{
        padding: 20px 20px;
    }
    .header-container{
        width: 100%;
    }
}